/* Reset Browser*/
* {
    padding: 0; /* kc cua phan tu*/
    margin: 0; /* kc phan tu*/
    box-sizing: border-box;  
}
.title_1 {
    color: red;
}
.title_2 {
    color: orange;
}
/* Selector ID CSS */
#para_1 {
    color: green;
}
#para_2 {
    color: violet;
}
h3 {
    color: pink;
}
div h3 {
    color: blue;
}
/* Selector: Link */
a:visited {
    color: red;
}
a:link{
    color: aqua;
}
h4 {
    color: red;
    font-size: 25px;
    font-style: italic;
    background-color: black;
}

/* Margin/Padding */
.item_1 {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin-top: 50px;
    padding-top: 30px;

    border: 5px solid;
    /* Border radius */
    border-radius: 50%;
}
.item_2 {
    width: 50px;
    height: 50px;
    background-color: black;
    display: none;
}